*{
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}

:root{
    /*Farben*/
    --co-main: #eb8e96;
    --co-negativ: #ffffff;
    --co-positiv: #202020;

    /*Fonts*/
    --f-title: normal 700 3.5rem/100% forma-djr-display, sans-serif;
    --f-code-slim: normal 400 1rem/120% dico-mono, monospace;
    
    /*Gaps*/
    --ga-around: 40px;
    --ga-inner: 80px;
    --ga-text: 8px;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 56%, rgba(235,141,149,1) 100%);
}
main{
    padding: var(--ga-around);
}
h1{
    font: var(--f-title);
    padding: var(--ga-text) 0;
}
p{
    font: var(--f-code-slim);
    padding: var(--ga-text) 0;
}